<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{month}}</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>
		// Bind to "mobileinit" before you load jquery.mobile.js
		// Set the default transition to slide
		$(document).on( "mobileinit", function() {
			$.mobile.defaultPageTransition = "slide";
		});
	</script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script>
		$( document ).on( "pageinit", "[data-role='page'].demo-page", function() {
			var page = "#" + $( this ).attr( "id" ),
				// Get the filename of the next page that we stored in the data-next attribute
				next = $( this ).jqmData( "next" ),
				// Get the filename of the previous page that we stored in the data-prev attribute
				prev = $( this ).jqmData( "prev" );

			// Check if we did set the data-next attribute
			if ( next ) {
				// Prefetch the next page
				// $.mobile.loadPage( next + ".html" );
				// Navigate to next page on swipe left
				$( document ).on( "swipeleft", page, function() {
					$.mobile.changePage( next + ".html" );
				});
				// Navigate to next page when the "next" button is clicked
				$( ".control .next", page ).on( "click", function() {
					$.mobile.changePage( next + ".html" );
				});
			}
			// Disable the "next" button if there is no next page
			else {
				$( ".control .next", page ).addClass( "ui-disabled" );
			}
			// The same for the previous page (we set data-dom-cache="true" so there is no need to prefetch)
			if ( prev ) {
				$( document ).on( "swiperight", page, function() {
					$.mobile.changePage( prev + ".html", { reverse: true } );
				});
				$( ".control .prev", page ).on( "click", function() {
					$.mobile.changePage( prev + ".html", { reverse: true } );
				});
			}
			else {
				$( ".control .prev", page ).addClass( "ui-disabled" );
			}
		});
	</script>
	<style>
		/* Prevent text selection while swiping with mouse */
		.ui-header, .ui-title, .control .ui-btn, .trivia-btn {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
	</style>
</head>
<body>

    <div data-role="page" id="{{month_slug}}" class="demo-page" data-dom-cache="true" data-theme="a" data-prev="{{prev_month_slug}}" data-next="{{next_month_slug}}">

	<div data-role="header" data-position="fixed" data-fullscreen="true" data-id="hdr" data-tap-toggle="false">
	    <h1>{{month}}</h1>
	    <a href="#home" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
	    <a href="#search" data-icon="search" data-iconpos="notext" data-rel="dialog" data-transition="fade">Cerca</a>
	</div><!-- /header -->

	<div data-role="content">
	    <div class="content-primary">
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Cerca..." data-filter-theme="d" data-theme="d" data-divider-theme="d">
		{% for month_data in produce %}
		    <li data-role="list-divider">{{ month_data.month|e }}</li>
		    {% for prod in month_data.produce %}
		    <li data-filtertext="{{month_data.month}}, {{ prod.name|e }}, {{ prod.other_names|join(', ')|e }}">{{ prod.name|title|e }}</li>
		    {% endfor %}
		{% endfor %}
		</ul>
	    </div><!--/content-primary -->
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-fullscreen="true" data-id="ftr" data-tap-toggle="false">
	    <div data-role="controlgroup" class="control ui-btn-left" data-type="horizontal" data-mini="true">
		<a href="#" class="prev" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-theme="d">Previous</a>
		<a href="#" class="next" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-theme="d">Next</a>
	    </div>
	</div><!-- /footer -->

    </div><!-- /page -->
</body>
</html>
